<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333822442921-0pq4gdnbetruim80h5f74uk1ek9qf5du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333822442921-0pq4gdnbetruim80h5f74uk1ek9qf5du</string>
	<key>API_KEY</key>
	<string>AIzaSyCVJ5D_tbG_SprMKygAKFAX82xdjb7QCUM</string>
	<key>GCM_SENDER_ID</key>
	<string>333822442921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoFinal</string>
	<key>PROJECT_ID</key>
	<string>projetofinal-391021</string>
	<key>STORAGE_BUCKET</key>
	<string>projetofinal-391021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333822442921:ios:ca1dcde8629ee4c58918b8</string>
</dict>
</plist>